@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Quattrocento&display=swap');
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Assistant", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Quattrocento", serif;
  letter-spacing: 2px;
}

/* Flexbox
---------------------------------------------------------------- */
main {
	display: flex;
}
header {
	padding-bottom: 30px;
}
hgroup {
	display: flex;
}

.logo {
	width: 200px;
	margin: 20px;
}

.header--title {
	margin: 20px;
}

.formContainer {
	display: flex;
	flex-direction: column;
	padding: 10px 30px;
	background-color: peachpuff;
	order: 2;
}

.form__set {
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: left;

}

#saveEntry {
	padding 10px;
}

/* label {
	width: 30%;
	text-align: right;
	padding: 0 15px;
} */

.entries {
	padding: 10px 30px;
}

.entryList {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.entryCard {
	border: 1px dotted gray;
	border-radius: 3px;
	padding: 10px;
	margin: 10px;
	width: 250px;
}

.button {
	display:flex;
	justify-content: left;
}
